* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat {
    width: 360px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #008080;
    font-family: sans-serif;
}

.chat-header {
    text-align: center;
    color: #FFFFFF;
    background-color: #008080;
    font-family: sans-serif;
    font-size: 24px;
}

.chat-window {
    background-color: #E0EEEE;
    height: 390px;
    width: 100%;
    overflow-y: scroll;
}

#messageForm {
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
}

#msg-input {
    padding: 10px;
    border-radius: 20px;
    border: 0;
    width: 70%;
    outline: none;
}

#msg-btn {
    width: 20%;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #FFFFFF;
    outline: none;
}

.msg {
    list-style-type: none;
}

span {
    background-color: #FFFFFF;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    text-align: left;
    margin: 5px 5px 5px 10px;
    box-shadow: .2px .3px .2px rgba(0, 0, 0, 0.2);
}

i {
    font-weight: bold;
}

.my {
    text-align: right;
}

.my span {
    background-color: #303030;
    color: #FFFFFF;
}

.my i {
    display: none;
}

#nameForm {
    background-color: #008080;
    box-shadow: .3px .3px 2px rgba(0, 0, 0, 0.2);
    max-width: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    border-radius: 20px;
}

#name-input {
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
    border-bottom: 1px solid #008080;
    outline: none;
}

#name-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}
